{% extends "tapasapp/base.html" %}
{% load static %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link">Back to main</a>
    </li>
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 650px; margin-left: 10px;">  
    <div class="card shadow-sm">

        <div class="card-header">
            <h4>Type in Dish Details:</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="row">  
                    <div class="col-md-4 mb-3"> 
                        <label class="form-label">Cook Time:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 offset-md-2 mb-3">  
                        <label class="form-label">Prep Time:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-dark">Add to dishes</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
