<!-- 
233790                  231193                    230329
Juan Miguel B. Luna     Sophia Jane T. Calado     Adrian Alexis E. Ang

March 27, 2025
----
I hereby attest to the truth of the following facts:

I have not discussed the python code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any python code or documentation used in my program was
obtained from another source, it has been clearly noted with citations in the
comments of my program.
----
-->

{% extends "tapasapp/base.html" %}
{% load static %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_menu' %}">Back to main</a>
    </li>
{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 650px; margin-left: 10px;">  
    <div class="card shadow-sm">

        <div class="card-header">
            <h4>Type in Dish Details:</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="row">  
                    <div class="col-md-4 mb-3"> 
                        <label class="form-label">Cook Time:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 offset-md-2 mb-3">  
                        <label class="form-label">Prep Time:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-dark">Add to dishes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}