<!-- 
233790                  231193                    230329
Juan Miguel B. Luna     Sophia Jane T. Calado     Adrian Alexis E. Ang

March 27, 2025
----
I hereby attest to the truth of the following facts:

I have not discussed the python code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any python code or documentation used in my program was
obtained from another source, it has been clearly noted with citations in the
comments of my program.
----
-->

{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link">View Wines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">View Large Dishes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">View Coursed Menus</a>
    </li>
{% endblock %}
            
            {% block content %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead class="thead-light">
                                <tr>
                                    <th class="table-dark" scope="col"> Name </th>
                                    <th class="table-dark" scope="col"> Cooking Time </th>
                                    <th class="table-dark" scope="col"> Prep Time </th>
                                    <th class="table-dark" scope="col"></th>    
                                </tr>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                                <td><a href=# class="btn btn-secondary btn-sm">Details</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}

            