{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link">View Wines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">View Large Dishes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">View Coursed Menus</a>
    </li>
{% endblock %}



                {% block content %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th class="table-dark" scope="col"> Name </th>
                                <th class="table-dark" scope="col"> Cooking Time </th>
                                <th class="table-dark" scope="col"> Prep Time </th>    
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}

            